<%= form_with(model: conversation, url: conversations_path, class: "contents") do |form| %>
  <%= form.hidden_field :product_id if conversation.product_id.present? %>

  <% if conversation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>

      <ul class="list-disc ml-6">
        <% conversation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :model, "Select AI model:" %>
    <%= form.select :model,
        options_for_select(@chat_models.map { |model| [model.label, model.id] }.unshift([default_model_display_name, nil]), @selected_model),
        {},
        class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": conversation.errors[:model].none?, "border-red-400 focus:outline-red-600": conversation.errors[:model].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :prompt, "Prompt" %>
    <%= form.text_area :prompt, rows: 4, placeholder: "What would you like to discuss?", autofocus: true,
        class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": conversation.errors[:prompt].none?, "border-red-400 focus:outline-red-600": conversation.errors[:prompt].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit "Start new conversation", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
