<% content_for :title, "Showing conversation" %>

<%= turbo_stream_from "conversation_#{@conversation.id}" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing conversation #<%= @conversation.id %></h1>

  <div class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= @conversation.ai_model&.label || default_model_display_name %>
  </div>

  <div id="chat_messages" class="min-w-full divide-y divide-gray-200 space-y-5 my-5">
    <% @conversation.chat_messages.where.not(id: nil).each do |chat_message| %>
      <%= render chat_message %>
    <% end %>
  </div>

  <%= render "chat_messages/form", conversation: @conversation, chat_message: @chat_message %>

  <%= link_to "Back to conversations", conversations_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
